.location-field {
    display: flex;
    align-items: center;
    border: 2px solid #333;
    border-radius: 6px;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    height: 56px;
    background: rgba(255, 255, 255, .5);
    padding-left: 16px;
    text-transform: uppercase;
    width: 100%;
  }

  .location-field input {
    border: none;
    background: transparent;
    outline: none;
    width: 100% !important;
  }

  .current-location-btn, .file-info {
    border: none;
    outline: none;
    border-left: 2px solid var(--dark);
    height: 56px;
    width: 54px;
    background: var(--color-bg);
  }

  #locationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #locationList li {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    list-style: none;
    text-align: left;
    text-transform: uppercase;
  }

  #locationList li:hover {
    background: #f0f0f0;
  }

  .input-none {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    height: 56px;
  }

  .lh-alert {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lh-alert-error {
    background: var(--red);
    border-color: var(--red-dark);
    color: #fff;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  .lh-alert-success {
    background: var(--green);
    border-color: var(--green-dark);
    color: #fff;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  .lh-alert-close {
    width: auto;
    padding: 0;
    border: none;
    background: none;
    outline: none;
  }

  .lh-small-icon {
    width: 22px !important;
  }

  .lh-link {
    border: none;
    background: transparent;
    outline: none;
    text-decoration: underline;
  }

  .lh-mini-dropdown-wrapper {
    position: relative;
  }

  .lh-mini-dropdown {
    width: 190px;
    background: var(--fill);
    border: 2px solid var(--dark);
    position: absolute;
    top: 60px;
    right: 0;
    opacity: 0;
    transition: .2s ease-in-out;
  }

  .lh-mini-dropdown a {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    color: var(--dark);
    display: flex;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    gap: 8px;
    align-items: center;
  }

  .lh-mini-dropdown a:nth-child(1) {
    border-bottom: 2px solid var(--dark);
  }

  .lh-mini-dropdown a img {
    width: 24px;
  }

  .lh-mini-dropdown.active {
    opacity: 1;
    top: 36px;
  }

  .lh-btn-link {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    text-transform: uppercase;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    width: 100%;
    text-align: left;
  }

  .textarea-button {
    text-transform: uppercase;
    padding: 6px 20px;
    background: var(--color-bg);
    left: 10px;
    bottom: 14px;
    z-index: 99;
    border-radius: 4px;
  }

  .container-sm {
    max-width: 800px !important;
  }

  .lh-footer {
    margin-top: 24vh;
    background: transparent !important;
  }